<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<div class="container">
	<h3>Bond Directory</h3>
	<hr>

	<table border="1" class="table table-bordered table-striped">
		<thead class="thead-dark">
			<tr>
				<th>Bond Number</th>
				<th>Next Payment Date</th>
				<th>Bond Currency</th>
				<th>Interest Rate</th>
				<th>Bank Sell</th>
			    <th>Bank Buy</th>
				<th>Item Entered</th>
				
				
			</tr>
		</thead>
		
		<tbody>
			<tr th:each="myBond : ${Bonds}">
			
				<td th:text="${myBond.BondNumber}" />	
				<td th:text="${myBond.NextPaymentDate}" />	
				<td th:text="${myBond.BondCurrency}" />	
				<td th:text="${myBond.InterestRate}" />	
				<td th:text="${myBond.BankSell}" />	
				<td th:text="${myBond.BankBuy}" />	
				<td th:text="${myBond.ItemEntered}" />	
			
			
			</tr>
		</tbody>		
	</table>
	
	
	</div>
	


</body>
</html>